@import 'tailwindcss';

@theme {
  --font-open-sans: 'Open Sans', sans-serif;
  --animate-low-spin: low-spin 30s linear infinite;
  
  @keyframes low-spin {
    to {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
}

body {
  @apply font-open-sans bg-zinc-800;
  -webkit-font-smoothing: antialiased;
}